<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <h3>Reviews</h3>
        <% reviews = @product.reviews.includes(:user) %>
        <% reviews.each do |review| %>
          <div class="panel panel-default items">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- <th colspan="2">Product</th> -->
                  <th><h4><%= review.user.name %></h4></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= review.rating %> / 5</td>
                  <td><%= review.description %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>

      </div>


    </div>

  </article>

</section>
