<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.img_url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <h3>Details</h3>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <h3>Reviews</h3>
        <% if current_user %>
          <% @review ||= Review.new %>
          <%= form_for [@product, @review] do |f| %>

            <% if f.object.errors.any? %>
              <div class="alert alert-danger">
                <strong>The following errors prevented saving:</strong>
                <ul>
                  <% form.object.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :product_id, :value => @product.id %>
              <div class="panel panel-default review_form">
                <table class="table table-bordered">
                  <thead>
                    <th class="rating-cell">Rating /5:</th>
                    <th>Description:</th>
                    <th class="button-cell"></th>
                  </thead>
                  <tbody>
                    <td class="rating-cell"><%= f.select :rating, (0..5).to_a.reverse %></td>
                    <td class="textarea description"><%= f.text_area :description, size: "70x5" %></td>
                    <td class="button-cell"><%= f.submit "Create" %></td>
                  </tbody>
                </table>         
              </div>
            </div>
          <% end %>
        <% end %>
        <% reviews = @product.reviews.includes(:user) %>
        <% reviews.order!('created_at DESC') %>
        <% reviews.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>

      </div>


    </div>

  </article>

</section>
